[[ if (fields && fields.length > 0 && data && data.length > 0) { ]]
<table class="table table-striped">
  <thead>
    <tr>
      [[ for (const field of fields) { ]]
      <th>[[= field ]]</th>
      [[ } ]]
      <th>actions</th>
    </tr>
  </thead>
  <tbody>
    [[ for (const row of data) { ]]
    <tr>
      [[ for (const field of fields) { ]]
      <td>[[= row[field] ]]</td>
      [[ } ]]
      <td>
        <a href="[[= helpers.urlFor(link_edit_name, {id:row.id}) ]]" class="btn btn-secondary">éditer</a>
        <a href="#" class="btn btn-danger">supprimer</a>
      </td>
    </tr>
    [[ } ]]
  </tbody>
</table>
[[ }else{ ]]
<p>Aucun résultat</p>
[[ } ]]